@font-face {
	font-family: 'Lineal';
	src: url(/fonts/Lineal-Black.woff2) format('woff2');
}

:root {
	--title-font: 'Lineal', sans-serif;
	--body-font: 'Roboto', sans-serif;
	--background-gradient: linear-gradient(to top right, #ecd4c6 0%, #e8e5e3 47%, #ecd4c6 100%);
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	overflow: hidden;
	font-family: sans-serif;
	color: white;
	/* rotation  -100deg #FFDEBF 0, #fff 0.4, #FFFADD 0.7 */
	background: var(--background-gradient);
	height: 100%;
	cursor: none;
}

#webgl {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
}

.cursor-container {
	pointer-events: none;

	@media (max-width: 768px) {
		display: none;
	}
}
.cursor-container.hover {
	.cursor {
		display: none;
	}

	.cursor-hover {
		display: block;
	}
}

.cursor,
.cursor-hover {
	/* display: none; */
	cursor: none;
	user-select: none;
	translate: -50% -50%;
	transition: scale 0.1s;
	animation: cursor 5s infinite linear;
}
.cursor-hover {
	display: none;
	circle {
		scale: 1.1;
		transform-origin: center center;
		animation: pulse 0.5s infinite alternate;
	}
}

*:active .cursor,
*:active .cursor-hover {
	scale: 0.8;
}

@keyframes cursor {
	from {
		rotate: 0;
	}
	to {
		rotate: 359deg;
	}
}

@keyframes pulse {
	from {
		scale: 1;
	}
	to {
		scale: 1.1;
	}
}

.paper {
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1000px;
	height: 350px;
	color: black;
	font-size: 48px;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	text-wrap: balance;
	text-align: center;

	.content {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.author {
		text-align: right;
		font-size: 32px;
	}

	@media (max-width: 768px) {
		width: 300px;
		height: 130px;
		font-size: 20px;

		.author {
			font-size: 18px;
		}
	}
}

#music_button {
	position: fixed;
	bottom: 45px;
	right: 45px;
	width: 80px;
	height: 80px;

	@media (max-width: 768px) {
		bottom: 24px;
		right: 24px;
		width: 40px;
		height: 40px;
	}
}

.loader-container {
	pointer-events: none;
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--background-gradient);
	> div {
		position: relative;
	}

	.star1,
	.star2,
	.star3 {
		position: absolute;
		opacity: 0;
	}

	.star1 {
		top: -65px;
		left: 60px;
		rotate: 10deg;
	}

	.star2 {
		scale: 0.8;
		top: -40px;
		left: -45px;
		rotate: 50deg;
	}
	.star3 {
		scale: 0.5;
		top: 50px;
		left: -70px;
		rotate: -15deg;
	}

	.loader-svg {
		animation: pop-in 0.75s forwards cubic-bezier(0.34, 1.56, 0.64, 1);
	}
	.rotate-anim {
		animation: rotate 0.75s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
		transform-origin: center 60%;
	}

	.wave {
		--wave-progress: 0;
		animation: wave infinite 2s linear;
		/* translate: 0; */

		transform: translateY(calc(120% * (1 - var(--wave-progress))));
	}
}
@keyframes wave {
	from {
		translate: 0;
	}
	to {
		translate: -150px;
	}
}

@keyframes pop-in {
	from {
		scale: 0;
	}
	to {
		scale: 1;
	}
}

@keyframes rotate {
	from {
		rotate: 0;
	}
	50% {
		scale: 1.1;
	}
	to {
		rotate: 40deg;
		scale: 0;
	}
}
#loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
}

#button {
	position: fixed;
	bottom: 32px;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	/* height: 150px; */
}

.big-title {
	position: fixed;
	inset: 0;
	font-size: 300px;
	font-family: var(--title-font);
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 768px) {
		font-size: 120px;
		word-break: break-all;
	}
}

.santa {
	justify-self: start;
}

.permission-container {
	position: fixed;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;

	@media (min-width: 768px) {
		display: none;
	}
}

.wave {
	position: absolute;
	clip-path: url(#clip);
}
