* {
	margin: 0;
	padding: 0;
}

html,
body {
	overflow: hidden;
	font-family: sans-serif;
	color: white;
	/* rotation  -100deg #FFDEBF 0, #fff 0.4, #FFFADD 0.7 */
	background: linear-gradient(40deg, #ffdebf 0, #fffcf0 40%, #fffadd 70%);
	height: 100%;
}

#webgl {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
}

.cursor {
	/* display: none; */
	cursor: none;
	user-select: none;
	translate: -50% -50%;
	transition: scale 0.1s;
	animation: cursor 5s infinite linear;
}

.cursor:active {
	scale: 0.8;
}

@keyframes cursor {
	from {
		rotate: 0;
	}
	to {
		rotate: 359deg;
	}
}
