* {
	margin: 0;
	padding: 0;
}

html,
body {
	overflow: hidden;
	font-family: sans-serif;
	color: white;
	/* rotation  -100deg #FFDEBF 0, #fff 0.4, #FFFADD 0.7 */
	background: linear-gradient(40deg, #ffdebf 0, #fffcf0 40%, #fffadd 70%);
	height: 100%;
	cursor: none;
}

#webgl {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
}
.cursor-container.hover {
	.cursor {
		display: none;
	}

	.cursor-hover {
		display: block;
	}
}

.cursor,
.cursor-hover {
	/* display: none; */
	pointer-events: none;
	cursor: none;
	user-select: none;
	translate: -50% -50%;
	transition: scale 0.1s;
	animation: cursor 5s infinite linear;
}
.cursor-hover {
	display: none;
	circle {
		scale: 1.1;
		transform-origin: center center;
		animation: pulse 0.5s infinite alternate;
	}
}

*:active .cursor,
*:active .cursor-hover {
	scale: 0.8;
}

@keyframes cursor {
	from {
		rotate: 0;
	}
	to {
		rotate: 359deg;
	}
}

@keyframes pulse {
	from {
		scale: 1;
	}
	to {
		scale: 1.1;
	}
}

.paper {
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1000px;
	height: 300px;
	color: black;
	font-size: 32px;
	font-weight: 600;
	display: flex;
	flex-direction: column;

	.content {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.author {
		text-align: right;
		font-size: 24px;
	}
}

#music_button {
	position: fixed;
	bottom: 45px;
	right: 45px;
	width: 90px;
}

.loader-container {
	pointer-events: none;
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(40deg, #ffdebf 0, #fffcf0 40%, #fffadd 70%);
}

#loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
}

#button {
	position: fixed;
	bottom: 32px;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	/* height: 150px; */
}
